body{
    background-color: #17202a ;
}

.carousel-cont {
    text-align: center;
    padding: 30px;
}

.carousel-cont h1 {
    color: #d1f2eb ;
    font-size: 28px;
    font-weight: bold;
}

.c-content {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    position: relative;
}

.img-cont {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 600px;
    height: 450px;
    overflow: hidden;
  
   
}

.fade-image {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.arrow-button {
    background-color: #f0f0f0;
    border: none;
    font-size: 18px;
    padding: 12px;
    cursor: pointer;
   
  }