body{
    background-color: #17202a ;
}

.carousel-cont {
    text-align: center;
    padding: 30px;
}

.carousel-cont h1 {
    color: #d1f2eb ;
    font-size: 28px;
    font-weight: bold;
}

.c-content {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.img-cont {
    justify-content: center;
}