body{
    background-color: #17202a ;
}

.carousel-cont {
    text-align: center;
    padding: 30px;
}

.carousel-cont h1 {
    color: #d1f2eb ;
    font-size: 28px;
    font-weight: bold;
}

.c-content {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.img-cont {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 400px;
    height: 280px;
    overflow: hidden;
    border-radius: 12px;
    background-color: #d5dbdb ;
}

.fade-image {
   width: 100%;
}